## 4.4 데이터 탐색  
데이터의 상태나 특징을 파악하는 작업

In [3]:
import numpy as np
import pandas as pd

In [4]:
# 과일 목록을 담은 시리즈 생성
s = pd.Series(['사과','배','사과','배','바나나'])
s

0     사과
1      배
2     사과
3      배
4    바나나
dtype: object

In [5]:
# 중복을 제거하고 유니크한 값만 남기기
s.unique()

array(['사과', '배', '바나나'], dtype=object)

In [6]:
# 원소별 개수 세기
s.value_counts()

사과     2
배      2
바나나    1
Name: count, dtype: int64

### 연습문제

In [8]:
r = pd.Series(['서울', '부산', '서울', '대구', '부산', '광주', '서울'])
r

0    서울
1    부산
2    서울
3    대구
4    부산
5    광주
6    서울
dtype: object

In [9]:
r.unique()

array(['서울', '부산', '대구', '광주'], dtype=object)

In [10]:
r.value_counts()

서울    3
부산    2
대구    1
광주    1
Name: count, dtype: int64

In [11]:
n = pd.Series(['민수', '지연', '철수', '민수', '영희', '민수', '지연'])
n

0    민수
1    지연
2    철수
3    민수
4    영희
5    민수
6    지연
dtype: object

In [12]:
n.unique()

array(['민수', '지연', '철수', '영희'], dtype=object)

In [17]:
result = n.value_counts()
print(result)
print(type(result))
# 판다스의 Series 는 통계함수를 사용할 수 있다
# sum mean max min
result.max()

민수    3
지연    2
철수    1
영희    1
Name: count, dtype: int64
<class 'pandas.core.series.Series'>

3