In [1]:
import numpy as np
import pandas as pd

In [4]:
# pd.Series(값목록, [인덱스]<-옵션)
n = pd.Series([5,10,15,20])
n
# 시리즈 생성시 인덱스를 따로 설정하지 않으면
# 자동으로 생성된다

0     5
1    10
2    15
3    20
dtype: int64

In [5]:
n2 = pd.Series([2,4,6,8])
n2

0    2
1    4
2    6
3    8
dtype: int64

## 연습문제

In [7]:
score = pd.Series([70,80,90], index=['국어', '영어', '수학'])
print(score['국어'])
score.loc['수학'] = 75
score

70

국어    70
영어    80
수학    75
dtype: int64

In [11]:
# 이름표를 붙이면, 어떤 값인지바로 알 수 있다(가독성)
temp = pd.Series([15,27,18], index = ['봄', '여름', '가을'])
print(temp.iloc[0])
temp.loc['가을'] = 20
temp

15

봄     15
여름    27
가을    20
dtype: int64

In [13]:
e = pd.Series([1000,1200,1300], index = ['01-01', '01-02', '01-03'])
print(e.loc['01-01'])
e.iloc[1] = 1250
e

1000

01-01    1000
01-02    1250
01-03    1300
dtype: int64

In [15]:
d = pd.Series([300,400,500], index = ['월', '화', '수'])
print(d['화'])
d.loc['수'] = 550
d

400

월    300
화    400
수    550
dtype: int64

In [17]:
s = {'name' : ['철수', '영희', '민수'], 'math' : [85,90,78]}
df = pd.DataFrame(s)
df

  name  math
0   철수    85
1   영희    90
2   민수    78

In [18]:
e = {'day' : ['월', '화', '수'], 'earn' : [1000,1200,900]}
df = pd.DataFrame(e)
df

  day  earn
0   월  1000
1   화  1200
2   수   900

In [23]:
s['가격'] = [1000, 1200]
s

    판매량  재고    가격
사과   30  50  1000
배    20  40  1200

In [ ]:
s.insert(