# 데이터 탐색과 전처리

In [1]:
# 모듈 불러오기
import numpy as np
import pandas as pd

## 데이터 탐색하기

서울 마포구 코로나 확진자 현황 보기  
- nan : 빈값

In [9]:
data = pd.read_csv('0917\서울특별시 마포구_법정동별_월별_코로나19 확진자 현황.csv',
                 encoding='euc-kr')
data

     기준연도  기준월    시도명 시군구명  법정동    확진자수
0    2020    1  서울특별시  마포구  공덕동     0.0
1    2020    2  서울특별시  마포구  공덕동     0.0
2    2020    3    NaN  NaN  NaN     2.0
3    2020    4  서울특별시  마포구  공덕동     NaN
4    2020    5  서울특별시  마포구  공덕동     NaN
..    ...  ...    ...  ...  ...     ...
679  2022    8  서울특별시  마포구  염리동  1053.0
680  2022    9  서울특별시  마포구  염리동   423.0
681  2022   10  서울특별시  마포구  염리동   289.0
682  2022   11  서울특별시  마포구  염리동   502.0
683  2022   12  서울특별시  마포구  염리동   669.0

[684 rows x 6 columns]

### 필요한 컬럼만 선택하기

In [13]:
# 컬럼 하나 선택
data['확진자수']
type(data['확진자수'])
# 필요한 컬럼만 저장
# 여러 컬럼 선택 (바깥대괄호: 인덱스 / 안쪽대괄호: 리스트)
df = data[['기준연도','기준월','법정동','확진자수']]
type(df)
# 열하나는 Series, 열 여러개는 dataframe

pandas.core.frame.DataFrame

### 시리즈 탐색하기
- head : 데이터 앞부분만 확인
- count : 데이터 개수
- unique : 고유한 값만 확인
- value_count : 데이터별 개수 확인

In [20]:
# 데이터 앞 부분만 확인(5개)
df.head()
# 데이터 개수 확인. 빈값 포함 안됨
df.count()
# 중복 제거한 고유값 확인
# 확진자수 에는 nan 빈값이 포함되어 있어, 결과가 이상해짐
df['확진자수'].unique()
df['확진자수'].value_counts()

확진자수
0.0       160
1.0        41
2.0        28
3.0        22
4.0        15
         ...
1053.0      1
423.0       1
289.0       1
502.0       1
669.0       1
Name: count, Length: 244, dtype: int64

In [ ]:
# 주민등록인구 현황 데이터 탐색하기

In [30]:
data = pd.read_csv('0917/주민등록인구및세대현황.csv',
                  encoding='euc-kr')
data
# 필요한 컬럼만선택
df = data[['행정구역','2025년08월_총인구수','2025년08월_남자 인구수','2025년08월_여자 인구수','2025년08월_남여 비율']]
df

       행정구역 2025년08월_총인구수 2025년08월_남자 인구수 2025년08월_여자 인구수  2025년08월_남여 비율
0     서울특별시     9,321,863       4,494,474       4,827,389            0.93
1     부산광역시     3,249,975       1,580,238       1,669,737            0.95
2     대구광역시     2,356,667       1,154,753       1,201,914            0.96
3     인천광역시     3,043,162             NaN       1,523,062            1.00
4     광주광역시     1,397,772         689,731         708,041            0.97
5     대전광역시     1,441,596         718,458         723,138            0.99
6     울산광역시     1,092,989         563,014         529,975            1.06
7   세종특별자치시       391,984             NaN         196,832            0.99
8       경기도    13,720,015       6,891,841       6,828,174            1.01
9   강원특별자치도     1,509,670         759,037         750,633            1.01
10     충청북도     1,591,965         811,165         780,800            1.04
11     충청남도     2,136,195       1,096,586       1,039,609            1.05
12  전북특별자치도     1,728,330         861,131         867,199            0.99
13     전라남도     1,780,646         899,345         881,301            1.02
14     경상북도     2,514,198       1,272,463       1,241,735            1.02
15     경상남도     3,212,001             NaN       1,592,375            1.02
16  제주특별자치도       665,953         332,675         333,278            1.00

In [26]:
df['행정구역'].head()

0    서울특별시
1    부산광역시
2    대구광역시
3    인천광역시
4    광주광역시
Name: 행정구역, dtype: object

In [27]:
df['행정구역'].count()

np.int64(17)

In [33]:
print(df['2025년08월_남여 비율'].unique())
print(df['2025년08월_남여 비율'].value_counts())

[0.93 0.95 0.96 1.   0.97 0.99 1.06 1.01 1.04 1.05 1.02]
2025년08월_남여 비율
0.99    3
1.02    3
1.01    2
1.00    2
0.96    1
0.93    1
0.95    1
1.06    1
0.97    1
1.04    1
1.05    1
Name: count, dtype: int64

In [37]:
data = pd.read_csv('0917/서울시설공단_서울도시고속도로 노선별 시간대별 교통량.csv',
                   encoding='euc-kr')
df = data['노선']
df.head()

0    내부순환로
1    내부순환로
2    내부순환로
3    내부순환로
4    내부순환로
Name: 노선, dtype: object

In [38]:
df.count()

np.int64(384)

In [39]:
df.unique()

array(['내부순환로', '강변북로', '북부간선도로', '올림픽대로', '동부간선도로', '분당수서로', '경부고속도로',
       '강남순환로'], dtype=object)

In [40]:
df.value_counts()

노선
내부순환로     48
강변북로      48
북부간선도로    48
올림픽대로     48
동부간선도로    48
분당수서로     48
경부고속도로    48
강남순환로     48
Name: count, dtype: int64

In [43]:
data = pd.read_csv('0917/서울시 버스노선별 정류장별 승하차 인원 정보.csv',
                   encoding='euc-kr')
df = data[['노선번호', '노선명', '표준버스정류장ID', '역명', '승차총승객수',
           '하차총승객수']]
df

,노선번호,노선명,표준버스정류장ID,역명,승차총승객수,하차총승객수
0,741,741번(진관차고지~헌인릉입구),100000001,종로2가사거리(00073),107,310
1,N37,N37번(송파공영차고지~진관공영차고지),100000001,종로2가사거리(00032),23,23
2,470,470번(상암차고지~안골마을),100000001,NaN,210,327
3,N37,N37번(진관공영차고지~송파공영차고지),100000001,종로2가사거리(00089),26,9
4,100,100번(하계동~용산구청),100000002,창경궁.서울대학교병원(00031),118,74
...,...,...,...,...,...,...
40408,654,654번(방화동~노들역),999800002,김포교통(종점가상)(00105),0,1
40409,6629,6629번(방화동~영등포),999800002,김포교통(종점가상)(00097),0,1
40410,9404,9404번(분당구미~신사역),999800004,구미동차고지(종점가상)(00062),0,2
40411,9707,9707번(고양 가좌동~영등포역),999800005,가좌동종점(종점가상)(00078),0,2
40412,707,707번(가좌동~서울역),999800005,가좌동종점(종점가상)(00127),0,11

In [44]:
df['표준버스정류장ID'].head()

0    100000001
1    100000001
2    100000001
3    100000001
4    100000002
Name: 표준버스정류장ID, dtype: int64

In [45]:
df['표준버스정류장ID'].count()

np.int64(40413)

In [46]:
df['표준버스정류장ID'].unique()

array([100000001, 100000002, 100000003, ..., 999800002, 999800004,
       999800005])

In [47]:
df['표준버스정류장ID'].value_counts()

표준버스정류장ID
113000421    30
113000422    29
100000367    29
105000030    28
113000416    28
             ..
117900100     1
103900198     1
117900102     1
117900103     1
121900302     1
Name: count, Length: 12325, dtype: int64

## NAN 처리하기
- nan : csv에서 빈셀을 의미. 값이 없다

### 빈값이 있는지 확인하기
- isnull : 빈값이 있는지 확인
- isnull.sum : 빈값의 개수

In [52]:
# 서울 마포구 코로나 현황
data = pd.read_csv('0917\서울특별시 마포구_법정동별_월별_코로나19 확진자 현황.csv',
                 encoding='euc-kr')
df = data[['기준연도', '기준월', '법정동', '확진자수']]
# 확진자수에 빈값이 있는지 확인
df['확진자수'].isnull()
# 빈값 개수 세기
# bool -> int
# false : 0 / true : 1
df['확진자수'].isnull().sum()

np.int64(2)